.question-card{
    padding : 5px;
    margin : 5px;
    width: 500px;
    border : 1px solid black;
    display : flex;
    flex-flow : column wrap;

}
.question-card > .card-title{
    font-size : 1em;
}
.question-card > .tags{
    font-size : 0.8em;
}
.card-content{
    display : flex;
    flex-flow : column wrap;
}