.question-card{
    padding : 5px;
    margin : 5px;
    width : 350px;
    border : 1px solid black;
    display : flex;
    flex-flow : column wrap;

}
.question-card > .card-title{
    font-size : 1em;
}
.question-card > .tags{
    font-size : 0.8em;
}
.card-content{
    display : flex;
    flex-flow : column wrap;
}
.owner{
    align-self: flex-end;
    display : flex;
    flex-flow : column;
}
.owner > .owner-name{
    font-size : 0.8em;
}
.owner > img{
    align-self: flex-end;
}